<!-- blog container -->
<div class="blog-container">
    <!-- blog 1 -->
    <div class="blog-box" *ngFor="let index of listCart">
      <div class="blog-img">
        <img [src]="index.Image" alt="Blog">
      </div>
      <div class="blog-text">
        <!-- <div>{{post.id}}</div> -->
        <a href="#" class="blog-title">{{index.Name}}</a>
        <span>{{index.Price}}</span>
        <p>
          {{index.Discription}}
        </p>
        <div>Số lượng còn lại: {{index.Status}}</div>
      </div>
    </div>
</div>


<a class="btn btn-warning w-100" href="#" routerLink="/thanhtoan">Thanh toán</a>



