.bg-image {
  background-image: url('https://png.pngtree.com/background/20230425/original/pngtree-picture-of-an-old-looking-shelves-full-of-books-and-antique-picture-image_2467931.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.bg-image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
