<nav >
    <div class="content-nav">
      <ul style="list-style: none;">
        <li><a href="">Trang Chủ</a></li>
        <li><a href="#">Sản Phẩm</a></li>
        <li><a href="#">Liên Hệ</a></li>
        <li><a href="/inform">Giới Thiệu</a></li>
      </ul>
  
      <form>
        <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." />
        
      </form>
      <!-- The Modal -->
      <!-- [routerLink]="['/cart']" -->
      <button id="cart" (click)="navigate('/cart')" >
        <i class="fa fa-shopping-basket"></i>
        Giỏ Hàng
      </button>
  
   
      
    </div>
   
    
    <!-- <div  *ngIf="this.authService.currentUser" class="logout">
      <p class="login-name"> {{authService.currentUser.}}</p>
   </div>  -->
  </nav>
  
  
  