
  nav {
    padding: 15px;
    width: 100%;
    background-color: #f0efef;
    
  }
 
  nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content:center;
    width: 100%;
  
  }
  
  nav .content-nav ul {
    display: flex;
  
  }
  
  nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
    
  }
  
  nav .content-nav ul li a:hover {
    color: red;
  }
  

  
  .content-nav form input {
    border: none;
    background: #fff;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    
  }
  
  #cart:hover {
    border-color: #fff;
  }
  
  .login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.avatar{
  width: 50px;
  height: 50px;
}

.logout-out{
  margin-top: 0px;
  transition: all .4s;


}
.logout-out:hover .logout-out{
  left: 0;
}