<!-- blog container -->
<div class="blog-container">
  <!-- blog 1 -->
  <div class="blog-box" *ngFor="let post of cart.searchResults.length > 0 ? cart.searchResults : cart.news">
    <div class="blog-img">
      <img [routerLink]="['/detail', post.id]" [src]="post.Image" alt="Blog">
      <span *ngIf="post.IsNew" class="new-label">Mới</span> <!-- Hiển thị nhãn "Mới" nếu sản phẩm là sản phẩm mới -->
    </div>
    <div class="blog-text">
      <a [routerLink]="['/detail', post.id]" class="blog-title">{{ post.Name }}</a>
      <span>{{ post.Price | currency: 'VND' }}</span>
      <p>{{ post.Discription }}</p>
      <div>Số lượng còn lại: {{ post.Status }}</div>
      <div class="example-button-row">
        <button mat-raised-button (click)="addToCart(post)">Đặt Mua</button>
      </div>
    </div>
  </div>
</div>
