* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
    
  }
  body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
  }
  

  .blog:hover{
    color: #f33c3c;
  
  }
  .blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  .blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    ;
  }
  .blog-img{
    width: 100%;
    height: auto;
  }
  .blog-img img:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }
  .blog-text:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }
  .blog-img img{
   
    max-width: 50%;
    height: 200px;
    margin-left: 25%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
  }
  .blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    
  }
  .blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  .blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
  }
  .blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
  }
  .blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px;
  }
  .blog-text a{
    color: #0f0f0f;
  }
  .blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
    
  }
  
 
  .example-label {
    display: table-cell;
    font-size: 14px;
    min-width: 120px;
   
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    margin-left: 80%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
  }
  
  /* Tạo kiểu cho nút "Đặt Mua" */
.example-button-row button {
  background-color: #f33c3c; /* Màu nền cho nút "Đặt Mua" */
  color: #fff; /* Màu chữ trắng */
  border: none; /* Loại bỏ viền */
  border-radius: 5px; /* Độ cong cho các góc của nút */
  padding: 10px 20px; /* Kích thước và khoảng cách bên trong nút */
  cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua nút */
  transition: background-color 0.3s ease; /* Hiệu ứng màu nền thay đổi màu chuyển động */
}

.example-button-row button:hover {
  background-color: #ff6666; /* Màu nền thay đổi khi di chuột qua nút */
}


 /* Thêm kiểu cho nhãn "Mới" */
/* Kiểu cho nhãn "Mới" */
.new-label {
  position: absolute; /* Để căn chỉnh vị trí của nhãn "Mới" */
  background-color: #00cc00; /* Màu nền cho nhãn "Mới" */
  color: #fff; /* Màu chữ trắng */
  padding: 5px 10px; /* Kích thước và khoảng cách của nhãn "Mới" */
  border-radius: 5px; /* Độ cong cho các góc của nhãn "Mới" */
  z-index: 1; /* Để nhãn "Mới" hiển thị trên hình ảnh */
  font-weight: bold; /* Đậm chữ của nhãn "Mới" */
  font-size: 14px; /* Kích thước chữ của nhãn "Mới" */
 
   
}



/* Tạo kiểu khi di chuột qua sản phẩm */
.blog-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Hiển thị đổ bóng khi di chuột qua sản phẩm */
}


